
button{
	background: rgba(237, 91, 65, 0.78);
	border: none;
	border-radius: .8em;
	color: white;
	padding: .5em .8em;

}
header{
	text-align: center;
}
button:hover{
	background: rgba(237, 91, 65, 1);
}
p{
	margin:0 10em;
}
